
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
  margin: 0.5cm;
  font-family: 'Poppins', sans-serif;
}


.navbar {
  background-color: white;
  height:80px;
  z-index:5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  position: sticky;
  top:15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 1px;
}

.cart > img {
  width: 40px;
  height: 40px;
  margin: 0; 
}

.total_cart_items {
  visibility: hidden;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.11);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  right: -17px;
  bottom: 51px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav_logo{
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    font-weight: bolder;

}

.header {
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.enjoy_it {
  color: rgba(190, 190, 190, 0.26);
  font-family: "Lato", sans-serif;
  font-size: 20vw;
  position: absolute; 
  top: 0; 
  margin: 0;
  z-index: 0;
}

.discover_products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; 
  top:80px;
  z-index: 1; 
}

.discover {
  font-family: 'Cormorant Garamond', serif;
  font-size: 4vw;
  font-weight: lighter;
  margin-bottom: 0;
}

.products {
  font-family: "Poppins", sans-serif;
  font-size: 4vw;
  font-weight: bolder;
  margin-bottom: 0;
  position: relative;
  bottom: 45px;
}



